.location-label {
  font-size: 18px;
  color: var(--primary-color);
  margin: 9px 0 12px;
  text-align: center;
  font-weight: 600;
}
.location-container {
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
}
