.table-mail,
.table-address {
  font-size: 12px;
  color: var(--text-color-secondary);
}

.font-mono {
  font-size: 12px;
}

.active-label {
  color: #22c55e !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  font-family: inherit;
}

i {
  font-size: 13px;
}

.table-address div i {
  color: var(--text-warning);
  font-weight: 700;
}

.location-btn {
  background: none;
  color: var(--primary-color);
  font-size: 13px;
  cursor: pointer;
  padding: 0;
  &:hover {
    text-decoration: underline;
  }
  i {
    margin: 0 5px;
  }
}

:host ::ng-deep .p-dialog-header {
  padding: 10px 20px;
}

@media (max-width: 768px) {
  :host ::ng-deep .p-dialog {
    margin: 0 25px;
  }
}
