h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

label {
  font-size: 12px;
}

button {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 6px;
}

.err {
  color: #ef4444;
  font-size: 13px;
  margin-bottom: 12px;
}

:host ::ng-deep .notAllowed button {
  cursor: not-allowed !important;
}
