@media (max-width: 768px) {
  .wt-sidebar,
  .logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span,
  .user-name,
  .user-email {
    display: none;
  }

  .wt-sidebar {
    width: 65px;
    overflow: unset;
  }

  .wt-sidebar__footer .logout-btn i {
    font-size: 18px;
  }
  .wt-sidebar__section-label {
    margin: 16px 0;
    padding: 0 0 !important;
  }
  .admin {
    display: block;
  }
}
.preferences {
  // border-top: 1px solid var(--sidebar-border);

  .theme-btn,
  .lang-btn {
    button {
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    span {
      font-size: 14px;
    }
  }

  .pi-moon {
    color: var(--primary-color);
  }

  .pi-sun {
    color: var(--text-warning);
  }

  .pi-language {
    color: var(--primary-color);
  }
}
.wt-sidebar__logo img {
  width: 30px;
  height: 30px;
}
